<html>


<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پرداخت</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fonts.css">
</head>
<% if(success){ %>

    <body>
        <div class="container">
            <div class="img">
                <img src="/images/checked.png" width="50px" alt="لوگوی موفقیت">
            </div>
            <div class="text-success">
                <span>
                    پرداخت با موفقیت انجام شد
                </span>
                <br>
                <span>
                    امیدواریم بازهم از واردات خرید کنید
                </span>
            </div>
            <button onclick="location.href='https://alfurat.io'" type="button" class="btn">بازگشت به صفحه اصلی</button>
        </div>
    </body>
    <% } else{ %>

        <body>
            <div class="container">
                <div class="img">
                    <img src="/images/cancel.png" width="50px" alt="لوگوی عدم موفقیت">
                </div>
                <div class="text-error">
                    <span>
                        پرداخت انجام نشد
                    </span>
                    <br>
                    <span>
                        .درصورت کسر وجه مبلغ بعد از 72 ساعت به حسابتان برمیگردد
                    </span>
                </div>
                <button onclick="location.href='https://alfurat.io'" type="button" class="btn">بازگشت به صفحه اصلی</button>
            </div>
        </body>
        <% } %>

</html>

</html>